.f-mission{
    width: 100%;
    /* height: 90vh; */
    margin-bottom: 6rem;
    padding: 4rem 3rem;
    display: flex;
}

.f-left, .f-right{
    width: 50%;
}


.f-left h6{
    color: #D235B0;

}
.f-left h3{
    font-size: 40px;
    color: #451DE2;
}

.f-left p{
    font-size: 18px;
    padding-bottom: 30px;
}

.f-right{
    position: relative;
    padding: 1rem;
}

.f-right .img1 {
   height: 400px;
   right:20px;
   width:70%;
    position: absolute;
    border-radius: 20px;
}

.f-right .img2 {
    position: absolute;
    height: 250px;
    left:20px;
    width:50%;
    top:300px;
    border-radius: 10px;
    
 }
.f-btn a {
    color: white;
    background-color: #D235B0;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.f-btn a:hover{
    color: #D235B0;
    background-color: transparent;
    border: solid 1px #D235B0;
}

@media (max-width:768px){
    .f-mission{
        width: 100%;
        /* height: 90vh; */
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .f-right{
        width: 40%;
    }
    .f-left{
        width: 60%;
    }
    
    .f-left h6{
        color: #D235B0;
    
    }
    .f-left h3{
        font-size: 28px;
        color: #451DE2;
    }
    
    .f-left p{
        font-size: 16px;
        padding-bottom: 30px;
    }
    
    .f-right .img1 {
        height: 300px;
        right: 0;
        width: 90%;
     }
     .f-right .img2 {
         display: none;
      }

    .f-btn a {
        color: white;
        background-color: #D235B0;
        padding: 10px 50px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 10px;
    }
    
}

@media (max-width:700px){
    .f-mission{
        flex-direction: column-reverse;
        padding: rem 1rem;
        gap :50px;
    
    }
    .f-left, .f-right{
        width: 100%;
        padding: 0;
    }

    
    .f-left h6{
        color: #D235B0;
        padding-left: 10px;
    
    }
    .f-left h3{
        font-size: 20px;
        color: #451DE2;
        padding-left: 10px;
    }
    
    .f-left p{
        font-size: 14px;
        padding-bottom: 30px;
    }
    
    .f-right .img1 {
        height: 200px;
        width: 100%;
        
         position: initial;
         border-radius: 20px;
         top: 0px;
     }

    .f-btn a {
        color: white;
        background-color: #D235B0;
        padding: 10px 50px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 10px;
        margin-left: 10px !important;
   
     
    }
    
}

@media(max-width:325px){
    .f-right .img1 {
        height: 250px;
        right:10px;
        width:70%;
         position: absolute;
         border-radius: 20px;
         top: 0px;
     }
     .f-right .img2 {
         position: absolute;
         height: 180px;
         left:20px;
         width:50%;
         top:250px;
         border-radius: 10px;
         
      }
}